---
// Componente Mapa para Colegio Alpha
---
<section id="mapa" class="py-8 md:py-0 bg-white">
  <div class="max-w-6xl mx-auto px-4 p-10">
    <h2 class="text-3xl md:text-4xl font-bold text-center text-[var(--steam-azul-oscuro)] mb-6">Ubicación</h2>
    
    
    <div class="relative">
      <div class="bg-gray-200 rounded-xl shadow-lg overflow-hidden w-full ">
        <iframe src="https://www.google.com/maps/embed?pb=!4v1752530013079!6m8!1m7!1s7s8E4I4Tz-uYw3NXbcMWfw!2m2!1d20.11575211051547!2d-98.7797425453022!3f184.69653266240607!4f0.1661156259720542!5f0.7820865974627469" class="w-full h-96" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3746.438347710971!2d-98.7797425453022!3d20.11575211051547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d10a776d5cca4b%3A0x8bcd8b9e0bff7ba3!2sInstituto%20Alpha%20de%20Pachuca!5e0!3m2!1ses-419!2smx!4v1752530204950!5m2!1ses-419!2smx" class="w-full h-96" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      
      <div class="mt-6 text-center">
        <p class="text-lg text-gray-700 mb-2">
          <strong>Dirección:</strong> BLV. LUIS DONALDO COLOSIO 204, Arboledas de San Javier
        </p>
      </div>
    </div>
  </div>
</section> 